{% extends 'main.html' %}
{% block content %}

<div class="container" style="margin-bottom: 175px;">
  <div style="text-align: center;">
    <h1>Heart Disease Predictor</h1>
  </div>
  <div class="card" style="border: 5px solid black; padding: 20px;">
    
    <form action="{{ url_for('predictPage') }}" method="POST">
      <div class="form-row">
        <div class="form-group">
          <label for="age">Age</label>
          <input
            class="form-control"
            id="age"
            type="text"
            name="age"
            placeholder="Age"
          />
        </div>
        <div class="form-group">
          <label for="sex">Sex</label>
          <input
            class="form-control"
            id="sex"
            type="text"
            name="sex"
            placeholder="Sex (Male:1, Female:0)"
          />
        </div>
        <div class="form-group">
          <label for="cp">Chest Pain Type</label>
          <input
            class="form-control"
            id="cp"
            type="text"
            name="cp"
            placeholder="Chest Pain Type"
          />
        </div>
      </div>
    
      <div class="form-row">
        <div class="form-group">
          <label for="trestbps">Resting Blood Pressure</label>
          <input
            class="form-control"
            id="trestbps"
            type="text"
            name="trestbps"
            placeholder="Resting Blood Pressure (mm Hg)"
          />
        </div>
        <div class="form-group">
          <label for="chol">Serum Cholesterol</label>
          <input
            class="form-control"
            id="chol"
            type="text"
            name="chol"
            placeholder="Serum Cholesterol (mg/dl)"
          />
        </div>
        <div class="form-group">
          <label for="fbs">Fasting Blood Sugar</label>
          <input
            class="form-control"
            id="fbs"
            type="text"
            name="fbs"
            placeholder="FBS > 120 mg/dl (1 / 0)"
          />
        </div>
      </div>
    
      <div class="form-row">
        <div class="form-group">
          <label for="restecg">Resting ECG Results</label>
          <input
            class="form-control"
            id="restecg"
            type="text"
            name="restecg"
            placeholder="Resting ECG Results"
          />
        </div>
        <div class="form-group">
          <label for="thalach">Max Heart Rate Achieved</label>
          <input
            class="form-control"
            id="thalach"
            type="text"
            name="thalach"
            placeholder="Max Heart Rate Achieved"
          />
        </div>
        <div class="form-group">
          <label for="exang">Exercise-Induced Angina</label>
          <input
            class="form-control"
            id="exang"
            type="text"
            name="exang"
            placeholder="EIA (1 = Yes; 0 = No)"
          />
        </div>
      </div>
    
      <div class="form-row">
        <div class="form-group">
          <label for="oldpeak">ST Depression</label>
          <input
            class="form-control"
            id="oldpeak"
            type="text"
            name="oldpeak"
            placeholder="ST Depression Induced by Exercise"
          />
        </div>
        <div class="form-group">
          <label for="slope">Slope of Peak Exercise ST Segment</label>
          <input
            class="form-control"
            id="slope"
            type="text"
            name="slope"
            placeholder="Slope of Peak Exercise ST Segment"
          />
        </div>
        <div class="form-group">
          <label for="ca">Number of Major Vessels</label>
          <input
            class="form-control"
            id="ca"
            type="text"
            name="ca"
            placeholder="Number of Major Vessels (0-3)"
          />
        </div>
      </div>
    
      <div class="form-row">
        <div class="form-group" style="width: 100%;">
          <label for="thal">Thalassemia</label>
          <input
            class="form-control"
            id="thal"
            type="text"
            name="thal"
            placeholder="Thalassemia (3 = Normal; 6 = Fixed Defect; 7 = Reversible Defect)"
          />
        </div>
      </div>
    
      <div class="buttons">
        <input type="submit" class="btn btn-info" value="Predict" />
        ||
        <button type="button" class="btn btn-success" onclick="populatePositive()">Positive</button>
        <button type="button" class="btn btn-danger" onclick="populateNegative()">Negative</button>
      </div>
    </form>
    

  </div>
</div>

<script>
  function populatePositive() {
    document.getElementsByName("age")[0].value = 69;
    document.getElementsByName("sex")[0].value = 1;
    document.getElementsByName("cp")[0].value = 3;
    document.getElementsByName("trestbps")[0].value = 160;
    document.getElementsByName("chol")[0].value = 234;
    document.getElementsByName("fbs")[0].value = 1;
    document.getElementsByName("restecg")[0].value = 0;
    document.getElementsByName("thalach")[0].value = 131;
    document.getElementsByName("exang")[0].value = 0;
    document.getElementsByName("oldpeak")[0].value = 0.1;
    document.getElementsByName("slope")[0].value = 1;
    document.getElementsByName("ca")[0].value = 2;
    document.getElementsByName("thal")[0].value = 2;
  }

  function populateNegative() {
    document.getElementsByName("age")[0].value = 51;
    document.getElementsByName("sex")[0].value = 0;
    document.getElementsByName("cp")[0].value = 0;
    document.getElementsByName("trestbps")[0].value = 130;
    document.getElementsByName("chol")[0].value = 305;
    document.getElementsByName("fbs")[0].value = 0;
    document.getElementsByName("restecg")[0].value = 1;
    document.getElementsByName("thalach")[0].value = 142;
    document.getElementsByName("exang")[0].value = 1;
    document.getElementsByName("oldpeak")[0].value = 1.2;
    document.getElementsByName("slope")[0].value = 1;
    document.getElementsByName("ca")[0].value = 0;
    document.getElementsByName("thal")[0].value = 3;
  }
</script>

{% endblock %}
